<%layout("/common/_layout.html"){%>

        <div class="insban b06"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>制作流程</span><p>Production process</p>
                    </h1>
                    <ul>
                        <li><a href="make">制作流程</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">制作流程</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>制作流程</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inside_text"><p>
	&nbsp;
</p>
<p>
	<img alt="" src="${base}/img/make_img.jpg" /><strong><span style="color:#ff6600;"></span></strong> 
</p>
<p>
	&nbsp;
</p>
<p>
	<strong><span style="color:#ff6600;">第一步：在线咨询</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;登录本站，请与在线客服咨询，或直接添加客服QQ:2624932501或529628165咨询。
</p>
<p>
	<strong><span style="color:#ff6600;">第二步：撰写内容</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;当录音广告词撰写好后，请把广告词直接提交至QQ客服。
</p>
<p>
	<strong><span style="color:#ff6600;">第三步：确认播音</span></strong> 
</p>
<p>
	&nbsp;&nbsp;&nbsp; 客户可通过网站<span style="color:#ff6600;">播音简介</span>试听范本或案例样音里选择您满意的播音员来录制。&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p>
	<strong><span style="color:#ff6600;">第四步：付款制作</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;当广告词及播音员经双方确认后，请您在<span style="color:#ff6600;">付款方式</span>处预付款，我们当日完成您的订单。（企业客户大部份地区可以先制作后付款）
</p>
<p>
	<strong><span style="color:#ff6600;">第五步：试听确认</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;当您试听后，如背景音乐不满意，请尽快与QQ客服联系免费替换背景音乐。如因播音员所造成音质不良、错字漏字等，我司予以免费重新录制。&nbsp;
</p>
<p>
	<strong><span style="color:#ff6600;">第六步：提交使用</span></strong>&nbsp;&nbsp;&nbsp;&nbsp; <br />
&nbsp;&nbsp;&nbsp;&nbsp;当试听满意并确认后，如您是预付款客户请及时付清尾款，QQ客服将把录音成品文件传送至您保管使用。
</p></div>
                </div>
            </div>
        </div>
        <!-- sub end-->
<%}%>