<%layout("/common/_layout.html"){%>
        <div class="insban b08"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>付款方式</span><p>payment</p>
                    </h1>
                    <ul>
                        <li><a href="payment">付款方式</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">付款方式</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>付款方式</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inside_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="" src="${base}/upfile/payment.jpg" /></div>
                </div>
            </div>
        </div>
        <!-- sub end-->
        
<%}%>