


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-Ua-Compatible" content="IE=EmulateIE7" />
    <link href="${base}/css/public.css" type="text/css" rel="stylesheet" />
    <link href="${base}/css/style.css" type="text/css" rel="stylesheet" />
    <title>武汉音达天下信息技术有限公司-音乐试听</title>
</head>
<body>
    <form name="form1" method="post" action="musicbox?id=86&amp;music_type=case&amp;m=69" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTQ5MDIxNjIyMmRkFKaqyxslGtwY+T/iW16kgReRdGM=" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B2B36F6A" />
</div>
        <body style="text-align: center; background: transparent;">
            <iframe name="I1" marginwidth="0" marginheight="0" frameborder="0" src="mp3play?mid=${mid}" scrolling="no" width="430px" height="281px" style="margin: 0px; background-color: transparent;" allowtransparency="true"></iframe>
        </body>
    </form>
</body>
</html>
