<!DOCTYPE html>
<head>
<meta name="baidu-site-verification" content="nuP7TLtoxC"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<!-- <link rel="shortcut icon" type="image/x-icon" href="/img/1.ico"> -->
	<title>武汉音达天下信息技术有限公司</title>
	<meta name="Keywords" content="软件开发 技术咨询 技术服务及销售 平面设计 系统集成 技术服务 办公自动化产品销售 信息化平台建设 电子商务信息咨询 电子商务平台建设">
	<meta name="Description" content="软件开发 技术咨询 技术服务及销售 平面设计 系统集成 技术服务 办公自动化产品销售 信息化平台建设 电子商务信息咨询 电子商务平台建设">
	<link type="text/css" href="${base}/css/css.css" rel="stylesheet"/>
	<link type="text/css" href="${base}/css/aero.css" rel="stylesheet">
    <link type="text/css" href="${base}/css/art.dialog.css" rel="stylesheet">
    <script type="text/javascript" src="${base}/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="${base}/js/All.js"></script>
    <script type="text/javascript" src="${base}/js/UIslide.js"></script>
    <script type="text/javascript" src="${base}/js/jquery.easing.js"></script>
    <script type="text/javascript" src="${base}/js/qq.js"></script>
    <script type="text/javascript" src="${base}/js/artDialog.min.js"></script>
    <script type="text/javascript" src="${base}/js/artDialog.js"></script>
    <script type="text/javascript">
        function showRing(obj) {
            $(".aui_dialog_wrap").remove();
            var mid= $(obj).attr("iid")
            art.dialog.open("musicbox?mid="+mid , { title: $(obj).attr("title"), fixed: true, skin: "aero", esc: true });
        }
    </script>
<!--[if lt IE 8]>
<script type="text/javascript">
    $(function(){
        if($.cookie("first_time") == null){
            alert("I am really very sorry to tell you : 您正在使用IE（内核）浏览器，且版本较低，为了获得最佳显示效果，请升级至IE9或IE10，" +
                    "或者使用chrome，firefox等支持css3的浏览器 （＞﹏＜）");
            $.cookie("first_time", "true");
        }
    });
</script>
<![endif]-->
</head>
<body>
	<!-- head start -->
    <div class="top">
    <div class="topcon">
        <div class="top_logo">
            <a href="/">
                <img src="${base}/img/logo.jpg" /></a>
        </div>
        <div class="top_right">
            <p>
                <a href="#">设为首页</a>|
                 <a onclick="AddFavorite(window.location,document.title)" href="#">加入收藏</a>|
                 <a href="contact">招贤纳士</a>
            </p>
        </div>
    </div>
</div>
<div class="nav">
    <div class="navSub">
        <ul>
            <li><a href="home" class="on">网站首页</a></li>
            <li><a href="about" class="on">关于我们</a></li>
            <li><a href="case" class="on">案例赏析</a></li>
            <li><a href="dubbing" class="on">配音文案</a></li>
            <li><a href="bgmusic" class="on">背景音乐</a></li>
            <li><a href="answer" class="on">疑问解答</a></li>
            <li><a href="make" class="on">制作流程</a></li>
            <li><a href="order" class="on">在线订单</a></li>
            <li><a href="payment" class="on">付款方式</a></li>
            <li><a href="contact" class="on">招贤纳士</a></li>
        </ul>
    </div>
</div>
   <!-- head end -->
    <div class="container clearfix">
        ${layoutContent}
    </div>
    
    <!-- foot start -->
    <div class="footer">
    <div class="copy" style="text-align:center">
        Copyright &copy; 武汉音达天下信息技术有限公司. All Rights Reserved.<br />
许可证编号：<a href="http://www.miitbeian.gov.cn/">鄂ICP备15019088号</a> 客服热线 ：400-1515-886 Email：<a href="mailto:372929090@qq.com">372929090@qq.com</a> <br />
公司地址：武汉市东湖新开发区佛祖岭街竹林小路9号武汉金能风电产业园3号厂房栋1-5层/室4楼&nbsp;&nbsp;<!-- 技术支持：<a href="http://www.whwebsite.com">信荣科技</a> -->
    </div>
</div>
    <!-- foot end -->
    <!-- QQ start -->
<!-- 代码 开始 -->
<div class="scrollsidebar" id="scrollsidebar">
    <div class="side_content">
        <div class="side_list">
            <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
            <div class="side_center">
                <div class="custom_service">
                    <p>
                        <a title="点击这里给我发消息" href="tencent://message/?uin=2624932501&Site=&Menu=yes" target="_blank">
                            <img src="http://wpa.qq.com/pa?p=2:2624932501:41"></a>
                    </p>
                    <p>
                        <a title="点击这里给我发消息" href="tencent://message/?uin=529628165&Site=&Menu=yes" target="_blank">
                            <img src="http://wpa.qq.com/pa?p=2:260977545:41"></a>
                    </p>
                    <p>
                        <a title="点击这里给我发消息" href="tencent://message/?uin=372929090&Site=&Menu=yes" target="_blank">
                            <img src="http://wpa.qq.com/pa?p=2:173054510:41"></a>
                    </p>
                </div>
                <div class="other">
                    <p>
                        <img src="${base}/img/weixin.jpg" />
                    </p>
                    <p>客户服务热线</p>
                    <p>400-1515-886</p>
                </div>
                <div class="msgserver">
                    <p><a href="order">在线预订</a></p>
                </div>
            </div>
            <div class="side_bottom"></div>
        </div>
    </div>
    <div class="show_btn"><span>在线客服</span></div>
</div>
<!-- 代码 结束 -->
<script type="text/javascript">
    $(function () {
        $("#scrollsidebar").fix({
            float: 'right',	//default.left or right
            //minStatue : true,
            skin: 'green',	//green or blue
            durationTime: 600
        });
    });
</script>
<!-- QQ end -->
</body>
</html>