<%layout("/common/_layout.html"){ %>
<!-- banner start-->
        <div class="banner">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background: url(${base}/upfile/banner/1.jpg) 50% 0 no-repeat;"></li>
                    <li style="background: url(${base}/upfile/banner/2.jpg) 50% 0 no-repeat;"></li>
                    <li style="background: url(${base}/upfile/banner/3.jpg) 50% 0 no-repeat;"></li>
                </ul>
            </div>
        </div>
        <script src="js/banner.js"></script>
        <script>
            $(window).load(function () {
                $('.flexslider').flexslider({
                    directionNav: false,
                    pauseOnAction: false
                });
            });
        </script>
        <!-- banner end-->
        <!-- sub start-->
        <div class="sub">
            <!-- Area start-->
            <div class="Area">
                <p>
        <a href="order">北京</a>|
        <a href="order">天津</a>|
        <a href="order">河北</a>|
        <a href="order">山西</a>|
        <a href="order">辽宁</a>|
        <a href="order">吉林</a>|
        <a href="order">黑龙江</a>|
        <a href="order">上海</a>|
        <a href="order">江苏</a>|
        <a href="order">浙江</a>|
        <a href="order">安徽</a>|
        <a href="order">福建</a>|
        <a href="order">西藏</a>|
        <a href="order">陕西</a>|
        <a href="order">甘肃</a>|
        <a href="order">江西</a><br />
        <a href="order">山东</a>|
        <a href="order">河南</a>|
        <a href="order">湖北</a>|
        <a href="order">湖南</a>|
        <a href="order">广东</a>|
        <a href="order">广西</a>|
        <a href="order">内蒙古</a>|
        <a href="order">海南</a>|
        <a href="order">重庆</a>|
        <a href="order">四川</a>|
        <a href="order">贵州</a>|
        <a href="order">云南</a>|
        <a href="order">青海</a>|
        <a href="order">宁夏</a>|
        <a href="order">新疆</a>|
        <a href="order">其他</a>
                </p>
            </div>
            <!-- Area end-->
            <!-- cont start-->
            <div class="cont">
                <div class="conleft">
                    <!-- # 集团彩铃 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>集团彩铃</span><a href="case"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">行业类型</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                     <% for(jt in jituan){%>
									        													<ul>
                                                <li class="t1">${jt.name}</li>
                                                <li class="t2">${jt.industry}</li>
                                                <li class="t3">${jt.area}</li>
                                                <li class="t4"><a title="${jt.name}-${jt.industry}" style="cursor: hand" onclick="showRing(this)" iid="${jt.id}" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
									    											<%}%>
									    
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 广告配音 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>广告配音</span><a href="case2"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">行业类型</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                    <% for(py in ggpy){%>
									        													<ul>
                                                <li class="t1">${py.name}</li>
                                                <li class="t2">${py.industry}</li>
                                                <li class="t3">${py.area}</li>
                                                <li class="t4"><a title="${py.name}-${py.industry}" style="cursor: hand" onclick="showRing(this)" iid="${py.id}" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
									    											<%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 播音简介 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>播音简介</span><a href="case3"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="b1">播音编号</li>
                                    <li class="b2">播音风格</li>
                                    <li class="b3">单位</li>
                                    <li class="b4">试听</li>
                                </ul>
                                <div class="listcon">
                                    	<% for(by in byjj){%>
									        													<ul>
                                                <li class="t1">${by.name}</li>
                                                <li class="t2">${by.industry}</li>
                                                <li class="t3">${by.area}</li>
                                                <li class="t4"><a title="${by.name}-${by.industry}" style="cursor: hand" onclick="showRing(this)" iid="${by.id}" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
									    											<%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 背景音乐 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>背景音乐</span><a href="bgmusic"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">播音风格</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                    	<% for(bj in bjyy){%>
									        													<ul>
                                                <li class="t1">${bj.name}</li>
                                                <li class="t2">${bj.style}</li>
                                                <li class="t3">${bj.area}</li>
                                                <li class="t4"><a title="${bj.name}-${bj.style}" style="cursor: hand" onclick="showRing(this)" iid="${bj.id}" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
									    											<%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conright">
                    <div class="make">
                        <div class="makecon">
                            <h1><a href="make">
                                <img src="${base}/img/zztit.jpg" /></a></h1>
                            <p>
                                <img src="${base}/img/zzicon.jpg" />
                            </p>
                        </div>
                    </div>
                    <!--图片新闻-->
                    <div class="gartu">
                        <div id="slide" class="slide_wrap">
                            <ul class="slide_imglist">
                                
                                        <li>
                                            <a href="${base}/upfile/ad/20150330154613050000061.png" target="_blank">
                                                <img src="${base}/upfile/ad/20150330154613050000061.png" alt="首页焦点图片（一）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150417152950040300044.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150417152950040300044.jpg" alt="首页焦点图片（二）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150605160027018700068.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150605160027018700068.jpg" alt="首页焦点图片（三）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150417152901002800069.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150417152901002800069.jpg" alt="首页焦点图片（四）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150205154418026500027.png" target="_blank">
                                                <img src="${base}/upfile/ad/20150205154418026500027.png" alt="首页焦点图片（五）"></a></li>
                                    
                            </ul>
                            <div class="slide_title">
                                <h3><a href="#" target="_blank"></a></h3>
                                <dl class="slide_num"></dl>
                                <em></em>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#slide').UISlide();
                    </script>
                    <!--图片新闻 end-->
                    <p class="icon">
                        <a href="answer">
                            <img src="${base}/img/answer.jpg" /></a>
                    </p>
                    <p class="icon">
                        <img src="${base}/img/Customized.jpg" />
                    </p>
                </div>
            </div>
            <!-- cont end-->
            <div class="partenrs">
                <ul>
                    
                            <li><a href="#">
                                <img src="${base}/img/zhongguoyidong.jpg" alt="中国移动" /></a></li>
                        
                            <li><a href="#">
                                <img src="${base}/img/zhongguoliantong.jpg" alt="中国联通" /></a></li>
                        
                            <li><a href="#">
                                <img src="${base}/img/zhongguodianxin.jpg" alt="中国电信" /></a></li>
                        
                </ul>
            </div>
        </div>
        <!-- sub end-->
<%}%>