<%layout("/common/_layout.html"){ %>
<!-- banner start-->
        <div class="banner">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background: url(${base}/upfile/banner/1.jpg) 50% 0 no-repeat;"></li>
                    <li style="background: url(${base}/upfile/banner/2.jpg) 50% 0 no-repeat;"></li>
                    <li style="background: url(${base}/upfile/banner/3.jpg) 50% 0 no-repeat;"></li>
                </ul>
            </div>
        </div>
        <script src="js/banner.js"></script>
        <script>
            $(window).load(function () {
                $('.flexslider').flexslider({
                    directionNav: false,
                    pauseOnAction: false
                });
            });
        </script>
        <!-- banner end-->
        <!-- sub start-->
        <div class="sub">
            <!-- Area start-->
            <div class="Area">
                <p>
        <a href="order">北京</a>|
        <a href="order">天津</a>|
        <a href="order">河北</a>|
        <a href="order">山西</a>|
        <a href="order">辽宁</a>|
        <a href="order">吉林</a>|
        <a href="order">黑龙江</a>|
        <a href="order">上海</a>|
        <a href="order">江苏</a>|
        <a href="order">浙江</a>|
        <a href="order">安徽</a>|
        <a href="order">福建</a>|
        <a href="order">西藏</a>|
        <a href="order">陕西</a>|
        <a href="order">甘肃</a>|
        <a href="order">江西</a><br />
        <a href="order">山东</a>|
        <a href="order">河南</a>|
        <a href="order">湖北</a>|
        <a href="order">湖南</a>|
        <a href="order">广东</a>|
        <a href="order">广西</a>|
        <a href="order">内蒙古</a>|
        <a href="order">海南</a>|
        <a href="order">重庆</a>|
        <a href="order">四川</a>|
        <a href="order">贵州</a>|
        <a href="order">云南</a>|
        <a href="order">青海</a>|
        <a href="order">宁夏</a>|
        <a href="order">新疆</a>|
        <a href="order">其他</a>
                </p>
            </div>
            <!-- Area end-->
            <!-- cont start-->
            <div class="cont">
                <div class="conleft">
                    <!-- # 集团彩铃 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>集团彩铃</span><a href="case1"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">行业类型</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                    
                                            <ul>
                                                <li class="t1">美元素艺术美容沙龙</li>
                                                <li class="t2">美容</li>
                                                <li class="t3">广东</li>
                                                <li class="t4"><a title="美元素艺术美容沙龙-美容" style="cursor: hand" onclick="showRing(this)" iid="86" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">泸州老窖泸州贡酒</li>
                                                <li class="t2">酒类</li>
                                                <li class="t3">安徽</li>
                                                <li class="t4"><a title="泸州老窖泸州贡酒-酒类" style="cursor: hand" onclick="showRing(this)" iid="31" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">大洋集团有限公司</li>
                                                <li class="t2">机械</li>
                                                <li class="t3">辽宁</li>
                                                <li class="t4"><a title="大洋集团有限公司-机械" style="cursor: hand" onclick="showRing(this)" iid="30" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">德意馨空调采暖工程</li>
                                                <li class="t2">家居</li>
                                                <li class="t3">湖北</li>
                                                <li class="t4"><a title="德意馨空调采暖工程-家居" style="cursor: hand" onclick="showRing(this)" iid="29" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">鑫源盛企业集团</li>
                                                <li class="t2">建筑</li>
                                                <li class="t3">北京</li>
                                                <li class="t4"><a title="鑫源盛企业集团-建筑" style="cursor: hand" onclick="showRing(this)" iid="28" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">康辉旅行社有限公司</li>
                                                <li class="t2">旅游</li>
                                                <li class="t3">云南</li>
                                                <li class="t4"><a title="康辉旅行社有限公司-旅游" style="cursor: hand" onclick="showRing(this)" iid="27" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">东蒙集团有限公司</li>
                                                <li class="t2">服饰</li>
                                                <li class="t3">浙江</li>
                                                <li class="t4"><a title="东蒙集团有限公司-服饰" style="cursor: hand" onclick="showRing(this)" iid="26" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">华夏未来教育集团</li>
                                                <li class="t2">教育</li>
                                                <li class="t3">陕西</li>
                                                <li class="t4"><a title="华夏未来教育集团-教育" style="cursor: hand" onclick="showRing(this)" iid="25" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">中国茅台一品天下</li>
                                                <li class="t2">酒类</li>
                                                <li class="t3">四川</li>
                                                <li class="t4"><a title="中国茅台一品天下-酒类" style="cursor: hand" onclick="showRing(this)" iid="24" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">成都农村商业银行</li>
                                                <li class="t2">金融</li>
                                                <li class="t3">成都</li>
                                                <li class="t4"><a title="成都农村商业银行-金融" style="cursor: hand" onclick="showRing(this)" iid="23" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 广告配音 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>广告配音</span><a href="case2"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">行业类型</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                    
                                            <ul>
                                                <li class="t1">中国陶瓷馆</li>
                                                <li class="t2">工业</li>
                                                <li class="t3">山东</li>
                                                <li class="t4"><a title="中国陶瓷馆-工业" style="cursor: hand" onclick="showRing(this)" iid="41" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">美宜佳连锁</li>
                                                <li class="t2">商贸</li>
                                                <li class="t3">广东</li>
                                                <li class="t4"><a title="美宜佳连锁-商贸" style="cursor: hand" onclick="showRing(this)" iid="40" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">我的中国梦</li>
                                                <li class="t2">其他</li>
                                                <li class="t3">辽宁</li>
                                                <li class="t4"><a title="我的中国梦-其他" style="cursor: hand" onclick="showRing(this)" iid="39" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">建业森林半岛</li>
                                                <li class="t2">地产</li>
                                                <li class="t3">河南</li>
                                                <li class="t4"><a title="建业森林半岛-地产" style="cursor: hand" onclick="showRing(this)" iid="38" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">欧赛尔汽车零部件</li>
                                                <li class="t2">交通</li>
                                                <li class="t3">安徽</li>
                                                <li class="t4"><a title="欧赛尔汽车零部件-交通" style="cursor: hand" onclick="showRing(this)" iid="37" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">庆华民用爆破器材</li>
                                                <li class="t2">仪器</li>
                                                <li class="t3">陕西</li>
                                                <li class="t4"><a title="庆华民用爆破器材-仪器" style="cursor: hand" onclick="showRing(this)" iid="36" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">富力都商业广场</li>
                                                <li class="t2">商贸</li>
                                                <li class="t3">江苏</li>
                                                <li class="t4"><a title="富力都商业广场-商贸" style="cursor: hand" onclick="showRing(this)" iid="35" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">义乌宣传专题片</li>
                                                <li class="t2">旅游</li>
                                                <li class="t3">浙江</li>
                                                <li class="t4"><a title="义乌宣传专题片-旅游" style="cursor: hand" onclick="showRing(this)" iid="34" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">华兴购物商场</li>
                                                <li class="t2">商贸</li>
                                                <li class="t3">福建</li>
                                                <li class="t4"><a title="华兴购物商场-商贸" style="cursor: hand" onclick="showRing(this)" iid="33" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">华宇传播有限公司</li>
                                                <li class="t2">传媒</li>
                                                <li class="t3">广东省</li>
                                                <li class="t4"><a title="华宇传播有限公司-传媒" style="cursor: hand" onclick="showRing(this)" iid="32" music_type="case">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 播音简介 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>播音简介</span><a href="case3"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="b1">播音编号</li>
                                    <li class="b2">播音风格</li>
                                    <li class="b3">单位</li>
                                    <li class="b4">试听</li>
                                </ul>
                                <div class="listcon">
                                    
                                            <ul>
                                                <li class="b1">中文女声1</li>
                                                <li class="b2">端庄贤淑</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女声1-端庄贤淑" style="cursor: hand" onclick="showRing(this)" iid="87" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文女声</li>
                                                <li class="b2">青春活力</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女声-青春活力" style="cursor: hand" onclick="showRing(this)" iid="85" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文女声</li>
                                                <li class="b2">端庄磁性</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女声-端庄磁性" style="cursor: hand" onclick="showRing(this)" iid="84" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文女声</li>
                                                <li class="b2">成熟端庄</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女声-成熟端庄" style="cursor: hand" onclick="showRing(this)" iid="82" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文女声</li>
                                                <li class="b2">磁性大气</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女声-磁性大气" style="cursor: hand" onclick="showRing(this)" iid="80" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文女生</li>
                                                <li class="b2">温柔优雅</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文女生-温柔优雅" style="cursor: hand" onclick="showRing(this)" iid="78" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文男声2号</li>
                                                <li class="b2">低沉磁性</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文男声2号-低沉磁性" style="cursor: hand" onclick="showRing(this)" iid="50" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="b1">中文男声1号</li>
                                                <li class="b2">激情深沉</li>
                                                <li class="b3">博芮欧</li>
                                                <li class="b4"><a title="中文男声1号-激情深沉" style="cursor: hand" onclick="showRing(this)" iid="49" music_type="sound">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- # 背景音乐 #-->
                    <div class="contbox">
                        <h1 class="contit"><span>背景音乐</span><a href="bgmusic"><img src="${base}/img/more.png" /></a></h1>
                        <div class="conbg">
                            <div class="conlist">
                                <ul class="listtit">
                                    <li class="t1">铃音名称</li>
                                    <li class="t2">行业类型</li>
                                    <li class="t3">地区</li>
                                    <li class="t4">试听</li>
                                </ul>
                                <div class="listcon">
                                    
                                            <ul>
                                                <li class="t1">童年的回忆</li>
                                                <li class="t2">钢琴曲</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="童年的回忆-钢琴曲" style="cursor: hand" onclick="showRing(this)" iid="77" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">优美音乐</li>
                                                <li class="t2">轻音乐</li>
                                                <li class="t3">中国</li>
                                                <li class="t4"><a title="优美音乐-轻音乐" style="cursor: hand" onclick="showRing(this)" iid="76" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">水边的阿迪丽娜</li>
                                                <li class="t2">轻音乐</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="水边的阿迪丽娜-轻音乐" style="cursor: hand" onclick="showRing(this)" iid="75" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">致爱丽斯</li>
                                                <li class="t2">钢琴曲</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="致爱丽斯-钢琴曲" style="cursor: hand" onclick="showRing(this)" iid="74" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">夜的钢琴曲</li>
                                                <li class="t2">钢琴曲</li>
                                                <li class="t3">中国</li>
                                                <li class="t4"><a title="夜的钢琴曲-钢琴曲" style="cursor: hand" onclick="showRing(this)" iid="73" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">忧伤还是快乐</li>
                                                <li class="t2">纯音乐</li>
                                                <li class="t3">中国</li>
                                                <li class="t4"><a title="忧伤还是快乐-纯音乐" style="cursor: hand" onclick="showRing(this)" iid="72" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">瓦妮莎的微笑</li>
                                                <li class="t2">钢琴曲</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="瓦妮莎的微笑-钢琴曲" style="cursor: hand" onclick="showRing(this)" iid="71" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">雨的印记</li>
                                                <li class="t2">钢琴曲</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="雨的印记-钢琴曲" style="cursor: hand" onclick="showRing(this)" iid="70" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">雪的梦幻</li>
                                                <li class="t2">纯音乐</li>
                                                <li class="t3">外国</li>
                                                <li class="t4"><a title="雪的梦幻-纯音乐" style="cursor: hand" onclick="showRing(this)" iid="69" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                            <ul>
                                                <li class="t1">原味的夏天</li>
                                                <li class="t2">纯音乐</li>
                                                <li class="t3">中国</li>
                                                <li class="t4"><a title="原味的夏天-纯音乐" style="cursor: hand" onclick="showRing(this)" iid="68" music_type="bg">
                                                    <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="conright">
                    <div class="make">
                        <div class="makecon">
                            <h1><a href="make">
                                <img src="${base}/img/zztit.jpg" /></a></h1>
                            <p>
                                <img src="${base}/img/zzicon.jpg" />
                            </p>
                        </div>
                    </div>
                    <!--图片新闻-->
                    <div class="gartu">
                        <div id="slide" class="slide_wrap">
                            <ul class="slide_imglist">
                                
                                        <li>
                                            <a href="${base}/upfile/ad/20150330154613050000061.png" target="_blank">
                                                <img src="${base}/upfile/ad/20150330154613050000061.png" alt="首页焦点图片（一）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150417152950040300044.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150417152950040300044.jpg" alt="首页焦点图片（二）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150605160027018700068.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150605160027018700068.jpg" alt="首页焦点图片（三）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150417152901002800069.jpg" target="_blank">
                                                <img src="${base}/upfile/ad/20150417152901002800069.jpg" alt="首页焦点图片（四）"></a></li>
                                    
                                        <li>
                                            <a href="${base}/upfile/ad/20150205154418026500027.png" target="_blank">
                                                <img src="${base}/upfile/ad/20150205154418026500027.png" alt="首页焦点图片（五）"></a></li>
                                    
                            </ul>
                            <div class="slide_title">
                                <h3><a href="#" target="_blank"></a></h3>
                                <dl class="slide_num"></dl>
                                <em></em>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#slide').UISlide();
                    </script>
                    <!--图片新闻 end-->
                    <p class="icon">
                        <a href="answer">
                            <img src="${base}/img/answer.jpg" /></a>
                    </p>
                    <p class="icon">
                        <img src="${base}/img/Customized.jpg" />
                    </p>
                </div>
            </div>
            <!-- cont end-->
            <div class="partenrs">
                <ul>
                    
                            <li><a href="#">
                                <img src="${base}/img/zhongguoyidong.jpg" alt="中国移动" /></a></li>
                        
                            <li><a href="#">
                                <img src="${base}/img/zhongguoliantong.jpg" alt="中国联通" /></a></li>
                        
                            <li><a href="#">
                                <img src="${base}/img/zhongguodianxin.jpg" alt="中国电信" /></a></li>
                        
                </ul>
            </div>
        </div>
        <!-- sub end-->
<%}%>