<%layout("/common/_layout.html"){%>
        <div class="insban b04"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>背景音乐</span><p>Background music</p>
                    </h1>
                    <ul>
                        <li><a href="bgmusic">背景音乐</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">背景音乐</p>
                    <p class="in_location">当前位置：<a href="index">首页</a><span>&gt;</span>背景音乐</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inscase">
                        <div class="caselist">
                            <ul class="clisttit">
                                <li class="m1">音乐名称</li>
                                <li class="m2">音乐类型</li>
                                <li class="m3">所属地区</li>
                                <li class="m4">制作单位</li>
                                <li class="m5">试听</li>
                            </ul>
                            <div class="clistcon">
									    											<% for(bj in bjyy){%>
                                        <ul>
                                            <li class="m1">${bj.name}</li>
                                            <li class="m2">${bj.style}</li>
                                            <li class="m3">${bj.area}</li>
                                            <li class="m4">音达天下</li>
                                            <li class="m5"><a title="${bj.name}-${bj.style}" style="cursor: hand" onclick="showRing(this)" iid="${bj.id}" music_type="bg">
                                                <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                        												<%}%>
                                    
                                <input type="hidden" name="HiddenField1" id="HiddenField1" value="4" />
                            </div>
                        </div>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:80%;text-align:right;font-size: 12px">
<div style="float:left;width:40%;font-size: 12px">
	
</div><div align="right" style="width:60%;float:left;">
	<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">2</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">下一页</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">尾页</a>
</div>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
<%}%>
