<%layout("/common/_layout.html"){%>

        <div class="insban b03"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>配音文案</span><p>Dubbing copy</p>
                    </h1>
                    <ul>
                        <li><a href="dubbing">配音文案</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">配音文案</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>配音文案</p>
                </div>
                <div class="inside_Rcon">
                    <div class="ins_Dub">
                        <ul>
                            
                                    <li><span><a href="DubClass.aspx?text=家具" title="家具">[家具]</a></span><a href="dubbing/detail?id=92" title="佛山市品高家具有限公司">佛山市品高家具有限公司</a></li>
                        </ul>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:80%;text-align:right;font-size: 12px">
<div style="float:left;width:40%;font-size: 12px">
	
</div><div align="right" style="width:60%;float:left;">
	<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">2</a><a href="javascript:__doPostBack('AspNetPager1','3')" style="margin-right:5px;">3</a><a href="javascript:__doPostBack('AspNetPager1','4')" style="margin-right:5px;">4</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">下一页</a><a href="javascript:__doPostBack('AspNetPager1','4')" style="margin-right:5px;">尾页</a>
</div>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
  <script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
<%}%>  
