<%layout("/common/_layout.html"){%>

        <div class="insban b03"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>配音文案</span><p>Dubbing copy</p>
                    </h1>
                    <ul>
                        <li><a href="#">配音文案</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">家具</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>家具</p>
                </div>
                <div class="inside_Rcon">
                    <div class="news_view">
                        <div class="news_view_head">
                            <h1 class="h1">佛山市品高家具有限公司</h1>
                            <p>
                                <span>发布者：网站管理员</span>
                                <span>上传时间：2015-2-3 17:31:22 </span>
                                <span>浏览次数：<b>190</b>次</span>
                                <span><a href="javascript:history.back()">返回上级</a></span>
                            </p>
                        </div>
                        <div class="news_view_con">
                            <div class="detCont lh_22">
	欢迎您致电佛山市品高家具有限公司，本公司专业生产高端睡眠产品，康蒙床垫一直为健康睡眠，我们以真诚的服务，创造一流的产品，让尊贵的您拥有健康人生，期待与您携手合作，共创辉煌事业，电话正在连接中，请稍
</div>
                        </div>
                        <div class="news_view_cj">
                            <div class="con">
                                <!-- Baidu Button BEGIN -->
                                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                                    <a class="bds_qzone"></a>
                                    <a class="bds_tsina"></a>
                                    <a class="bds_tqq"></a>
                                    <a class="bds_renren"></a>
                                    <a class="bds_t163"></a>
                                    <a class="shareCount"></a>
                                </div>
                                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0"></script>
                                <script type="text/javascript" id="bdshell_js"></script>
                                <script type="text/javascript">
                                    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
                                </script>
                                <!-- Baidu Button END -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
        <%}%>  
