<%layout("/common/_layout.html"){%>

        <div class="insban b03"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>配音文案</span><p>Dubbing copy</p>
                    </h1>
                    <ul>
                        <li><a href="dubbing.html">配音文案</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">配音文案</p>
                    <p class="in_location">当前位置：<a href="index">首页</a><span>&gt;</span>配音文案</p>
                </div>
                <div class="inside_Rcon">
                    <div class="ins_Dub">
                        <ul>
                            
                                    <li><span><a href="DubClass.aspx?text=家具" title="家具">[家具]</a></span><a href="Dubbing_Show.aspx?index=92" title="佛山市品高家具有限公司">佛山市品高家具有限公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=交通" title="交通">[交通]</a></span><a href="Dubbing_Show.aspx?index=91" title="道顺交通设施工程有限公司">道顺交通设施工程有限公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=机械" title="机械">[机械]</a></span><a href="Dubbing_Show.aspx?index=90" title="台州市科莫机械模具厂">台州市科莫机械模具厂</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=网络" title="网络">[网络]</a></span><a href="Dubbing_Show.aspx?index=89" title="中国制服设计网有限公司">中国制服设计网有限公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=金融" title="金融">[金融]</a></span><a href="Dubbing_Show.aspx?index=88" title="成都唯思客金融咨询公司">成都唯思客金融咨询公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=美容" title="美容">[美容]</a></span><a href="Dubbing_Show.aspx?index=87" title="广州汉方集团有限公司">广州汉方集团有限公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=礼品" title="礼品">[礼品]</a></span><a href="Dubbing_Show.aspx?index=86" title="黄岩思源工艺礼品厂">黄岩思源工艺礼品厂</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=通信" title="通信">[通信]</a></span><a href="Dubbing_Show.aspx?index=85" title="中瑞通信有限公司">中瑞通信有限公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=餐饮" title="餐饮">[餐饮]</a></span><a href="Dubbing_Show.aspx?index=84" title="新宝源酒楼餐饮公司">新宝源酒楼餐饮公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=安防" title="安防">[安防]</a></span><a href="Dubbing_Show.aspx?index=83" title="骏威楼宇工程安装公司">骏威楼宇工程安装公司</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=广告" title="广告">[广告]</a></span><a href="Dubbing_Show.aspx?index=82" title="杭州萧山奇维光电广告">杭州萧山奇维光电广告</a></li>
                                
                                    <li><span><a href="DubClass.aspx?text=科技" title="科技">[科技]</a></span><a href="Dubbing_Show.aspx?index=81" title="千贝科技有限公司">千贝科技有限公司</a></li>
                                
                            <input type="hidden" name="HiddenField1" id="HiddenField1" />
                        </ul>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:80%;text-align:right;font-size: 12px">
<div style="float:left;width:40%;font-size: 12px">
	
</div><div align="right" style="width:60%;float:left;">
	<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">2</a><a href="javascript:__doPostBack('AspNetPager1','3')" style="margin-right:5px;">3</a><a href="javascript:__doPostBack('AspNetPager1','4')" style="margin-right:5px;">4</a><a href="javascript:__doPostBack('AspNetPager1','2')" style="margin-right:5px;">下一页</a><a href="javascript:__doPostBack('AspNetPager1','4')" style="margin-right:5px;">尾页</a>
</div>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
  <script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>
<%}%>  
