<%layout("/common/_layout.html"){ %>
        <div class="insban b09"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>联系我们</span><p>Contact us</p>
                    </h1>
                    <ul>
                        <li><a href="contact">联系我们</a></li>
                        <li><a href="about">公司简介</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">联系我们</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>联系我们</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inside_text"><p>
	&nbsp;
</p>
<p>
	<span style="font-size:18px;">武汉音达天下信息技术有限公司</span>
</p>
<p>
	<span style="font-size:18px;"></span><span style="font-size:16px;">全国统一服务热线：400-1515-886</span>
</p>
<p>
	<span style="font-size:16px;"></span><span style="font-size:16px;">直线：15871432486、13545012575</span>
</p>
<p>
	<span style="font-size:16px;"></span><span style="font-size:16px;">网址：</span><a href="http://www.yindatx.cn"><span style="font-size:16px;">www.yindatx.cn</span></a> 
</p>
<p>
	<span style="font-size:16px;">地址：武汉市东湖新开发区佛祖岭街竹林小路9号武汉金能风电产业园3号厂房栋1-5层/室4楼</span>
</p></div>
                </div>
            </div>
        </div>
        <!-- sub end-->
        
<%}%>
