<%layout("/common/_layout.html"){ %>
        <div class="insban b02"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>案例赏析</span><p>Case appreciation</p>
                    </h1>
                    <ul>
                        <li><a href="case">集团彩铃</a></li>
                        <li><a href="case">广告配音</a></li>
                        <li><a href="case">播音简介</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">集团彩铃</p>
                    <p class="in_location">当前位置：<a href="home">首页</a><span>&gt;</span>集团彩铃</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inscase">
                        <div class="caselist">
                            <ul class="clisttit">
                                <li class="t1">铃音名称</li>
                                <li class="t2">行业类型</li>
                                <li class="t3">所属地区</li>
                                <li class="t4">制作单位</li>
                                <li class="t5">试听</li>
                            </ul>
                            <div class="clistcon">
                                    	<% for(jt in jituan){%>
									        													<ul>
                                                <li class="t1">${jt.name}</li>
                                                <li class="t2">${jt.industry}</li>
                                                <li class="t3">${jt.area}</li>
                                                <li class="t4">音达天下</li>
                                                <li class="t5"><a title="${jt.name}-${jt.industry}" style="cursor: hand" onclick="showRing(this)" iid="${jt.id}" music_type="case">
                                                    <img src="img/ting_icon.gif" alt="试听" class="aGo"></a>
                                                </li>
                                            </ul>
									    											<%}%>
                                    
                                <input type="hidden" name="HiddenField1" id="HiddenField1" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:80%;text-align:right;font-size: 12px">
<div style="float:left;width:40%;font-size: 12px">
	
</div><div align="right" style="width:60%;float:left;">
	<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a disabled="disabled" style="margin-right:5px;">下一页</a><a disabled="disabled" style="margin-right:5px;">尾页</a>
</div>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
 
 <%}%>
