<%layout("/common/_layout.html"){ %>
        <div class="insban b02"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>案例赏析</span><p>Case appreciation</p>
                    </h1>
                    <ul>
                        <li><a href="case">集团彩铃</a></li>
                        <li><a href="case">广告配音</a></li>
                        <li><a href="case">播音简介</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">集团彩铃</p>
                    <p class="in_location">当前位置：<a href="index">首页</a><span>&gt;</span>集团彩铃</p>
                </div>
                <div class="inside_Rcon">
                    <div class="inscase">
                        <div class="caselist">
                            <ul class="clisttit">
                                <li class="t1">铃音名称</li>
                                <li class="t2">行业类型</li>
                                <li class="t3">所属地区</li>
                                <li class="t4">声音类型</li>
                                <li class="t5">制作单位</li>
                                <li class="t6">试听</li>
                            </ul>
                            <div class="clistcon">
                                
                                        <ul>
                                            <li class="t1">美元素艺术美容沙龙</li>
                                            <li class="t2">美容</li>
                                            <li class="t3">广东</li>
                                            <li class="t4">青春洋溢</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="美元素艺术美容沙龙-美容" style="cursor: hand" onclick="showRing(this)" iid="86" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">泸州老窖泸州贡酒</li>
                                            <li class="t2">酒类</li>
                                            <li class="t3">安徽</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="泸州老窖泸州贡酒-酒类" style="cursor: hand" onclick="showRing(this)" iid="31" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">大洋集团有限公司</li>
                                            <li class="t2">机械</li>
                                            <li class="t3">辽宁</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="大洋集团有限公司-机械" style="cursor: hand" onclick="showRing(this)" iid="30" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">德意馨空调采暖工程</li>
                                            <li class="t2">家居</li>
                                            <li class="t3">湖北</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="德意馨空调采暖工程-家居" style="cursor: hand" onclick="showRing(this)" iid="29" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">鑫源盛企业集团</li>
                                            <li class="t2">建筑</li>
                                            <li class="t3">北京</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="鑫源盛企业集团-建筑" style="cursor: hand" onclick="showRing(this)" iid="28" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">康辉旅行社有限公司</li>
                                            <li class="t2">旅游</li>
                                            <li class="t3">云南</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="康辉旅行社有限公司-旅游" style="cursor: hand" onclick="showRing(this)" iid="27" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">东蒙集团有限公司</li>
                                            <li class="t2">服饰</li>
                                            <li class="t3">浙江</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="东蒙集团有限公司-服饰" style="cursor: hand" onclick="showRing(this)" iid="26" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">华夏未来教育集团</li>
                                            <li class="t2">教育</li>
                                            <li class="t3">陕西</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="华夏未来教育集团-教育" style="cursor: hand" onclick="showRing(this)" iid="25" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">中国茅台一品天下</li>
                                            <li class="t2">酒类</li>
                                            <li class="t3">四川</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="中国茅台一品天下-酒类" style="cursor: hand" onclick="showRing(this)" iid="24" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                        <ul>
                                            <li class="t1">成都农村商业银行</li>
                                            <li class="t2">金融</li>
                                            <li class="t3">成都</li>
                                            <li class="t4">中文女声</li>
                                            <li class="t5">博芮欧</li>
                                            <li class="t6"><a title="成都农村商业银行-金融" style="cursor: hand" onclick="showRing(this)" iid="23" music_type="case">
                                                <img src="${base}/img/ting_icon.gif" alt="试听" class="aGo"></a>
                                            </li>
                                        </ul>
                                    
                                <input type="hidden" name="HiddenField1" id="HiddenField1" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:80%;text-align:right;font-size: 12px">
<div style="float:left;width:40%;font-size: 12px">
	
</div><div align="right" style="width:60%;float:left;">
	<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a disabled="disabled" style="margin-right:5px;">下一页</a><a disabled="disabled" style="margin-right:5px;">尾页</a>
</div>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
 
 <%}%>
