<%layout("/common/_layout.html"){%>
        <div class="insban b05"></div>
        <!-- sub start-->
        <div class="insub">
            <div class="ins_left">
                <div class="insli">
                    <h1><span>疑问解答</span><p>Question & answer</p>
                    </h1>
                    <ul>
                        <li><a href="answer">疑问解答</a></li>
                    </ul>
                </div>
            </div>
            <div class="inside_right">
                <div class="ins_Rtit">
                    <p class="inside_Aus">疑问解答</p>
                    <p class="in_location">当前位置：<a href="index">首页</a><span>&gt;</span>疑问解答</p>
                </div>
                <div class="inside_Rcon">
                    <div class="insAnswer">
                        <ul>
                            
                                    <li>
                                        <h2><b>【问】：</b>【问】：开通企业彩铃，通常需要多长时间才能开通？</h2>
                                        <p><b>【答】：</b>【答】：我司致力于为您提供最高效的服务：1、文稿确定后当日录制完成；2、手机24小时内开通；固话1-5个工作日内开通（运营商系统造成情况除外）。</p>
                                    </li>
                                
                                    <li>
                                        <h2><b>【问】：</b>【问】：我们是大型企业，在全国各省市地区都有分支机构，可以一起办理吗？</h2>
                                        <p><b>【答】：</b>【答】：可以的。我司是全国企业彩铃代理机构，有各省市运营商开通服务端口。可提供各个地区开通服务，全国均可办理。号码归属地以区号为单位，不同省市的号码，都可能会相应产生上传开通服务费。</p>
                                    </li>
                                
                                    <li>
                                        <h2><b>【问】：</b>我只是小型企业，一个电话可以办理企业彩铃吗？</h2>
                                        <p><b>【答】：</b>可以的。我司是全国企业彩铃代办机构，有各省市运营商开通服务端口。可不分号码数量多少，1个号码也可办理。</p>
                                    </li>
                                
                                    <li>
                                        <h2><b>【问】：</b>要开通企业彩铃，我需要缴纳哪些费用？</h2>
                                        <p><b>【答】：</b>办理企业电话彩铃，会涉及到2个方面费用。1、录音制作及上传开通服务费：收费标准请登录我司网站中《资费标准》查看，或直接与客服QQ：372929090 咨询，此费用由我司收取； 2、彩铃月功能费：此费用由电话归属地的通讯运营商直接从话费中按月扣除，通常3-5元/号码/月不等。</p>
                                    </li>
                                
                                    <li>
                                        <h2><b>【问】：</b>我要开通企业彩铃，你们公司值得信赖吗？</h2>
                                        <p><b>【答】：</b>我公司通过工商部门注册、增值服务许可、网站在国家工信部备案，有保障。并拥有各省市运营商开通服务端口，全国均可办理。集设计、制作、开通一站式服务。</p>
                                    </li>
                                
                        </ul>
                    </div>
                    <div class="subPage">
                        
<!-- AspNetPager V7.0.2 for VS2005 & VS2008  Copyright:2003-2007 Webdiyer (www.webdiyer.com) -->
<div id="AspNetPager1" style="width:350px;">
<a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a><span style="margin-right:5px;font-weight:Bold;color:red;">1</span><a disabled="disabled" style="margin-right:5px;">下一页</a><a disabled="disabled" style="margin-right:5px;">尾页</a>
</div>
<!-- AspNetPager V7.0.2 for VS2005 & VS2008 End -->


                    </div>
                </div>
            </div>
        </div>
        <!-- sub end-->
<%}%>